html,
body,
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  padding: 20px;
  width: 1000px;
}

.cronGenValue {
  display: flex;
}

.cronGenValue > div {
  flex: 1;
  white-space: nowrap;
}

.n-card > .n-card__content:first-child,
.n-card > .n-card__footer:first-child,
.n-card > .n-card__content,
.n-card > .n-card__footer {
  padding: 12px;
}

.n-card > .n-card__action,
.n-card > .n-card-header {
  padding: 16px;
}
.n-card.n-card--content-segmented > .n-card__content {
  padding-top: 12px;
}
