html,
body,
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}

.container {
  padding: 20px;
  width: 1000px;
}

.cronGenValue {
  display: flex;
  & > div {
    flex: 1;
    white-space: nowrap;
  }
}
